<div class="dashboard-container">
  <div class="page-header">
    <h1>Credit Card Dashboard</h1>
  </div>
  <div ng-if="vm.loading" class="text-center">
    <p>Loading dashboard...</p>
  </div>
  <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
  <div ng-if="!vm.loading && !vm.error">
    <kpi-overview-widget kpi-data="vm.kpiSummary"></kpi-overview-widget>
    <div class="row card-list">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="card in vm.cards">
        <card-summary-panel card-data="card"></card-summary-panel>
      </div>
    </div>
  </div>
</div>