<div class="recommendation-history" ng-cloak>
  <h2>Recommendation History</h2>
  <div ng-if="vm.loading">
    <span class="glyphicon glyphicon-refresh spinning"></span> Loading history...
  </div>
  <div class="alert alert-danger" ng-if="vm.error">{{vm.error}}</div>
  <table class="table table-striped" ng-if="!vm.loading && vm.events.length">
    <thead>
      <tr>
        <th>Time</th>
        <th>Action</th>
        <th>Recommendation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="evt in vm.events">
        <td>{{evt.timestamp | date:'medium'}}</td>
        <td>{{evt.action}}</td>
        <td>{{evt.recommendationId}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-if="!vm.loading && !vm.events.length" class="alert alert-info">
    No history events available.
  </div>
</div>
