<div class="card kpi-card">
  <div class="card-header">
    <div class="card-header-left">
      <i class="fa" ng-class="vm.kpi.iconClass || 'fa-line-chart'"></i>
      <div class="card-title-group">
        <h3 class="card-title">{{vm.kpi.label}}</h3>
        <p class="card-subtitle" ng-if="vm.kpi.supportingLabel">{{vm.kpi.supportingLabel}}</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="kpi-value">{{vm.kpi.formattedValue || vm.kpi.value}}</div>
    <div class="kpi-trend" ng-if="vm.kpi.trend">
      <i class="fa" ng-class="{'fa-arrow-up text-success': vm.kpi.trend &gt; 0, 'fa-arrow-down text-danger': vm.kpi.trend &lt; 0}"></i>
      <span>{{vm.kpi.trend | percentage:1}} vs previous month</span>
    </div>
  </div>
</div>
