<div class="category-breakdown" ng-if="categories && categories.length">
  <h3>Category Breakdown</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th class="text-right">Amount</th>
        <th class="text-right">Share</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in categories">
        <td>{{c.categoryLabel}}</td>
        <td class="text-right">{{c.amount | currencySafe:'USD'}}</td>
        <td class="text-right">{{c.percentage | percentage:1}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-info" ng-if="!categories || !categories.length">
  Category breakdown is not available for the selected month.
</div>
