<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="panel panel-default davms-kpi-card">
    <div class="panel-body">
      <div class="davms-kpi-icon">
        <span ng-class="vmCard.icon"></span>
      </div>
      <div class="davms-kpi-content">
        <div class="davms-kpi-label">{{ vmCard.label }}</div>
        <div class="davms-kpi-value">{{ vmCard.getFormattedValue() }}</div>
        <div class="davms-kpi-subtext" ng-if="vmCard.subtext">{{ vmCard.subtext }}</div>
      </div>
    </div>
  </div>
</div>
