<div class="transaction-analytics">
  <div class="row">
    <div class="col-md-12">
      <h2>Spending Analytics Dashboard</h2>
      <div ng-if="vm.loading" class="alert alert-info">Loading transactions...</div>
      <div ng-if="vm.error" class="alert alert-danger">{{ vm.error }}</div>
    </div>
  </div>
  <div class="row" ng-if="!vm.loading && !vm.error">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="vm.selectedCategory" ng-change="vm.applyFilters()">
              <option value="">All Categories</option>
              <option ng-repeat="cat in vm.analyticsData.categoryBreakdown" value="{{ cat.categoryName }}">{{ cat.categoryName }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Start Date</label>
            <input type="date" class="form-control" ng-model="vm.dateRange.startDate" ng-change="vm.applyFilters()">
          </div>
          <div class="form-group">
            <label>End Date</label>
            <input type="date" class="form-control" ng-model="vm.dateRange.endDate" ng-change="vm.applyFilters()">
          </div>
          <button class="btn btn-default btn-block" ng-click="vm.clearFilters()">Clear Filters</button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Total Spending</div>
            <div class="panel-body">
              <h3>{{ vm.analyticsData.totalSpending | currency }}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">Top Category</div>
            <div class="panel-body">
              <h3>{{ vm.analyticsData.topCategory }}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">Transactions</div>
            <div class="panel-body">
              <h3>{{ vm.filteredTransactions.length }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Category-wise Spending Breakdown</div>
            <div class="panel-body text-center">
              <spending-chart analytics-data="vm.analyticsData"></spending-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">Category Details</div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Total Amount</th>
                    <th>Transaction Count</th>
                    <th>Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cat in vm.analyticsData.categoryBreakdown">
                    <td>{{ cat.categoryName }}</td>
                    <td>{{ cat.totalAmount | currency }}</td>
                    <td>{{ cat.transactionCount }}</td>
                    <td>{{ cat.percentage }}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>