<div class="personal-insights-dashboard" ng-cloak>
  <div class="clearfix">
    <h2 class="pull-left">Personalized Financial Insights</h2>
    <a class="btn btn-link pull-right" href="#/personal-insights/preferences">Preferences</a>
  </div>

  <div ng-if="vm.loading">
    <pi-insight-skeleton></pi-insight-skeleton>
  </div>

  <div class="alert alert-danger" ng-if="vm.error">{{vm.error}}</div>

  <div ng-if="!vm.loading && vm.preferencesLoaded && !vm.error">
    <pi-consent-banner ng-if="!vm.preferencesLoaded || !vm.preferencesLoaded && !vm.loading"
                       on-manage-preferences="vm.navigateToBudgets()"></pi-consent-banner>

    <div class="panel panel-default filters-panel">
      <div class="panel-heading">Filters</div>
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label for="timeRange">Time range</label>
            <select id="timeRange" class="form-control" ng-model="vm.filters.timeRange"
                    ng-change="vm.refreshInsights()">
              <option value="LAST_30_DAYS">Last 30 days</option>
              <option value="LAST_90_DAYS">Last 90 days</option>
              <option value="YTD">Year to date</option>
            </select>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select id="category" class="form-control" ng-model="vm.filters.category"
                    ng-change="vm.refreshInsights()">
              <option value="">All</option>
              <option value="SPENDING">Spending</option>
              <option value="SAVINGS">Savings</option>
              <option value="FEES">Fees</option>
              <option value="OTHER">Other</option>
            </select>
          </div>
        </form>
      </div>
    </div>

    <pi-insight-list insights="vm.insights"
                     filters="vm.filters"
                     on-open="vm.openInsight(insight)"
                     on-dismiss="vm.dismissInsight(insight)"></pi-insight-list>
  </div>
</div>
