<div class="personal-insights-preferences" ng-cloak>
  <h2>Insight Preferences</h2>

  <div ng-if="vm.loading">
    <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
  </div>

  <div class="alert alert-danger" ng-if="vm.error">{{vm.error}}</div>
  <div class="alert alert-success" ng-if="vm.success">{{vm.success}}</div>

  <form name="preferencesForm" ng-if="!vm.loading && vm.model" novalidate
        ng-submit="vm.savePreferences(preferencesForm)">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="vm.model.insightsEnabled"> Enable personalized insights
      </label>
    </div>

    <fieldset ng-disabled="!vm.model.insightsEnabled">
      <legend>Insight categories</legend>
      <div class="checkbox" ng-repeat="(cat, enabled) in vm.model.categories">
        <label>
          <input type="checkbox" ng-model="vm.model.categories[cat]"> {{cat}}
        </label>
      </div>

      <legend>Notification channels</legend>
      <div class="checkbox" ng-repeat="(ch, enabled) in vm.model.notificationChannels">
        <label>
          <input type="checkbox" ng-model="vm.model.notificationChannels[ch]"> {{ch}}
        </label>
      </div>

      <p class="help-block">Jurisdiction: {{vm.model.jurisdiction}}</p>
    </fieldset>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" ng-click="vm.resetToDefaults()">Reset</button>
  </form>
</div>
