<div class="breakdown-chart-container" ng-if="vm.data && vm.data.segments && vm.data.segments.length > 0">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="card-header-title">Breakdown of Spend for {{vm.data.month | dateFormat}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <canvas id="breakdownChartCanvas" aria-label="Breakdown chart" role="img"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 breakdown-chart-legend">
            <span class="breakdown-chart-legend-item" ng-repeat="segment in vm.data.segments">
                <span class="breakdown-chart-legend-color" ng-style="{'background-color': vm.legendColors[$index]}"></span>
                {{segment.label}} ({{segment.percentage | percentage}})
            </span>
        </div>
    </div>
</div>
<div class="empty-state" ng-if="!vm.data || !vm.data.segments || vm.data.segments.length === 0">
    <i class="fa fa-pie-chart empty-state-icon" aria-hidden="true"></i>
    <div class="empty-state-title">No breakdown available</div>
    <div class="empty-state-description">
        We couldn't generate a visual breakdown for the selected month.
    </div>
</div>
