<div class="kpi-card" uib-tooltip="{{vm.tooltip}}" tooltip-placement="top" ng-if="vm.label">
    <div class="kpi-card-header">
        <div class="kpi-card-header-left">
            <div class="kpi-card-icon">
                <i class="fa" ng-class="vm.iconClass"></i>
            </div>
            <div>
                <div class="kpi-card-title">{{vm.label}}</div>
                <div class="kpi-card-subtitle" ng-if="vm.supportingLabel">{{vm.supportingLabel}}</div>
            </div>
        </div>
        <div class="kpi-card-value">{{vm.value}}</div>
    </div>
    <div class="kpi-card-trend" ng-if="vm.trendIndicator" ng-class="vm.trendIndicator">
        <span ng-if="vm.trendIndicator === 'up'"><i class="fa fa-arrow-up"></i> Improving</span>
        <span ng-if="vm.trendIndicator === 'down'"><i class="fa fa-arrow-down"></i> Declining</span>
        <span ng-if="vm.trendIndicator === 'neutral'"><i class="fa fa-minus"></i> Stable</span>
    </div>
</div>
