<div class="bill-reminders-dashboard" ng-cloak>
  <div class="clearfix">
    <h2 class="pull-left">Upcoming Bill Reminders</h2>
    <a class="btn btn-link pull-right" href="#/bill-reminders/preferences">Reminder settings</a>
  </div>

  <div ng-if="vm.loading">
    <span class="glyphicon glyphicon-refresh spinning"></span> Loading reminders...
  </div>

  <div class="alert alert-danger" ng-if="vm.error">{{vm.error}}</div>

  <div class="row" ng-if="!vm.loading && vm.reminders.length">
    <div class="col-md-4" ng-repeat="reminder in vm.reminders">
      <br-reminder-card reminder="reminder"
                        on-acknowledge="vm.acknowledgeReminder(reminder)"
                        on-dismiss="vm.dismissReminder(reminder)"></br-reminder-card>
    </div>
  </div>

  <div ng-if="!vm.loading && !vm.reminders.length" class="alert alert-info">
    No upcoming bill reminders.
  </div>
</div>
