<div class="panel panel-default reminder-card">
  <div class="panel-heading">
    <h3 class="panel-title">{{reminder.billerName}}</h3>
  </div>
  <div class="panel-body">
    <p>Due: {{reminder.dueDate | brDate}}</p>
    <p>Amount: {{reminder.predictedAmount | brAmount:reminder.currency}}</p>
    <p>Status: {{reminder.status}}</p>
  </div>
  <div class="panel-footer text-right">
    <button type="button" class="btn btn-default btn-sm" ng-click="onAcknowledge({ reminder: reminder })" ng-disabled="reminder.status === 'ACKNOWLEDGED'">
      Mark paid
    </button>
    <button type="button" class="btn btn-link btn-sm" ng-click="onDismiss({ reminder: reminder })">
      Dismiss
    </button>
  </div>
</div>
